body {
  font-family: 'Open Sans', sans-serif;
}

section {
  position: relative;
  width: 100%;
  padding: 6em 0;
}

time {
  display: block;
  padding: 1em 0 0 0;
  border-top: 1px solid black;
  text-align: center;
  font-weight: bold;
  margin: 1em 0 0 0;
}

header, footer {
  background-color: #4169E1;
  width: 100%;
  color: #fff;
  text-align: center;
}

h1, h2 {
  font-family: 'Crete Round', serif;
  text-transform: uppercase;
  font-weight: 500;
  color: #FDF5E6;
  text-align: center;
  text-shadow: 2px;
  letter-spacing: .05em;
  line-height: 1em;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 2.5em;
  color:  #000000;
}

img {
    max-width: 100%;
    height: auto;
}

p {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  line-height: 1.5em;
}

.info {
  width: 100%;
}

.img-circle {
border-radius: 50%;
border: 2px white solid;
}

.bond {
  width: 100%;
  background-color: #F5F5F5;
}

.content {
  padding: 0em 2;
  font-size: 1.2em;
  line-height: 1.2em;
  margin: 0 auto;
}

.gallery {
  text-align: center;
  margin: 0 auto;
  padding: 20px 0 0 0;
}

.contact {
  text-align: center;
  margin: 0 auto;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.printeros {
  width: 100%;
}

.convenient {
  width: 100%;
}

#description:hover {
    background-repeat: no-repeat;
    text-transform: uppercase;
    text-decoration: line-through;
}


#submitbutton {
  background-color: orange;
  color: white;
}

#two_column {
  background-color: #FB8B24;
  color: #F6F7F8;
  padding: 20px;
}
#left {
  background-color: #D90368;
  border: 1px solid black;
  padding: 20px;
  float: left;
  width: 30%;
}

#right {
  background-color: #17255A;
  border: 1px solid black;
  padding: 20px;
  float: right;
  width: 62%;
}


/*#submitbutton:hover {
  outline: 2px solid brown;
}*/
