/*unit 4 CSS*/
body {
  font-family: 'Open Sans', sans-serif;
}

section {
  position: relative;
  width: 100%;
  padding: 6em 0;
}

time {
  display: block;
  padding: 1em 0 0 0;
  border-top: 1px solid black;
  text-align: center;
  font-weight: bold;
  margin: 1em 0 0 0;
}

header, footer {
  background-color: #4169E1;
  width: 100%;
  color: #fff;
  text-align: center;
}

h1, h2 {
  font-family: 'Crete Round', serif;
  text-transform: uppercase;
  font-weight: 500;
  color: #FDF5E6;
  text-align: center;
  text-shadow: 2px;
  letter-spacing: .05em;
  line-height: 1em;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 2.5em;
  color:  #000000;
}

p {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  line-height: 1.5em;
}

/*nav {
  float: right;
}*/

/*.content {
  float: left;
}*/

.img-circle {
border-radius: 50%;
border: 2px white solid;
}

.bond {
  background-color: #F5F5F5;
}

.content {
  padding: 0em 2;
  font-size: 1.2em;
  line-height: 1.2em;
  margin: 0 auto;
}

.gallery {
  text-align: center;
  margin: 0 auto;
  padding: 20px 0 0 0;
}

.contact {
  text-align: center;
  margin: 0 auto;
}
